<footer class="bg-black border-t-4 border-[#fffe03] py-8">
  <div class="max-w-7xl mx-auto px-4">
    
    <div class="flex flex-col md:flex-row justify-between items-center gap-4 mb-6">
      <img class="h-16" src="logo.jpg" alt="VASKO Logo">
      
      <div class="flex gap-6">
        <a href="https://www.youtube.com/@Vasko-music" target="_blank" aria-label="YouTube" class="text-[#fffe03] hover:text-white hover:scale-110 transition">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube">
            <path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/>
            <path d="m10 15 5-3-5-3z"/>
          </svg>
        </a>
        <a href="https://www.instagram.com/vasko_music" target="_blank" aria-label="Instagram" class="text-[#fffe03] hover:text-white hover:scale-110 transition">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"/>
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/>
            <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/>
          </svg>
        </a>
        <a href="https://www.facebook.com/groups/1428649357427791/" target="_blank" aria-label="Facebook" class="text-[#fffe03] hover:text-white hover:scale-110 transition">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook">
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/>
          </svg>
        </a>
      </div>
      
      <p class="text-gray-400 text-sm">© 2025 VASKO</p>
    </div>
    
    <div class="border-t border-gray-800 mb-4"></div>
    
    <div class="flex flex-col md:flex-row justify-between items-center gap-3 text-sm">
      
      <nav class="flex flex-wrap justify-center gap-4 text-gray-400">
        <a routerLink="/mentions-legales" class="hover:text-[#fffe03] transition">
          Mentions légales
        </a>
        <a routerLink="/politique-confidentialite" class="hover:text-[#fffe03] transition">
          Confidentialité
        </a>
        <a routerLink="/gestion-cookies" class="hover:text-[#fffe03] transition">
          Cookies
        </a>
      </nav>
      
      <div class="text-gray-400 text-center md:text-right">
       <a routerLink="/contact" routerLinkActive="active" class="hover:text-[#fffe03] transition">
          Contact
        </a>
      </div>
    </div>
    
  </div>
</footer>
