<footer>

  <div class="container">
    <div class="top">
      <img class="logo" src="images/logo.jpg" alt="VASKO Logo">
      
      <div class="socials">
        <a href="https://www.youtube.com/@Vasko-music" target="_blank" aria-label="YouTube" class="pi pi-youtube"></a>
        <a href="https://www.instagram.com/vasko_music" target="_blank" aria-label="Instagram" class="pi pi-instagram"></a>
        <a href="https://www.facebook.com/groups/1428649357427791/" target="_blank" aria-label="Facebook" class="pi pi-facebook"></a>
      </div>
      
      <p class="year">© {{currentYear}} VASKO</p>
    </div>
    
    <hr class="line"/>
    
    <div class="bottom">
      <nav class="links">
        <a routerLink="/mentions-legales">
          Mentions légales
        </a>
        <a routerLink="/politique-confidentialite">
          Confidentialité
        </a>
        <a routerLink="/gestion-cookies">
          Cookies
        </a>
      </nav>
      
      <div class="contact">
        <a routerLink="/contact" routerLinkActive="active">
          Contact
        </a>
      </div>
    </div>

  </div>
</footer>
