<nav class="navbar bg-black px-3 py-3 flex justify-between items-center">
  <div class="navbar-logo md:flex">
    <a routerLink="/" routerLinkActive="active"><img class="h-20" src="logo.jpg"></a>
  </div>


  <ul class="navbar-links md:flex gap-12 text-[#fffe03] font-serif text-2xl">

    <button><a class=" transition duration-400 hover:text-gray-500" routerLink="/groupe" routerLinkActive="active">A propos du groupe</a></button>
    <button><a class=" transition duration-400 hover:text-gray-500" routerLink="/concert" routerLinkActive="active">Concert</a></button>
    <button><a class=" transition duration-400 hover:text-gray-500" routerLink="/contact" routerLinkActive="active">Contact</a></button>

  </ul>
</nav>
