form {
  max-width: 20%;
  margin: 1rem auto;
  margin-top: 200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h2 {
    font-size: large;
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-self: center;
    flex-direction: column;
}

p-password, input {
  width: 100%;
}


p-button {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}




