<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-60">

    <h2>
        Se Connecter
    </h2>

    <p-floatlabel variant="on">
        <input 
            pInputText
            type="email" 
            id="mail"
            formControlName="mail"
        />
        <label for="mail">Mail</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <p-password
            id="password"
            formControlName="password"
            [toggleMask]="true"
            autocomplete="off"
            [feedback]="false"

        ></p-password>
        <label for="password">Mot de passe</label>
    </p-floatlabel>

    <p-button
        (onClick)="onSubmit()"
        label="Se Connecter"
    />

</form>