<div class="relative w-screen h-screen -mt-35">
  <img src="principal.png" class="absolute inset-0 w-full h-full object-cover" alt="VASKO band">
    <div class="absolute inset-0 flex flex-col items-center justify-center gap-4">
    <h1 class="vasko-neon text-[#fffe03] text-9xl font-bold uppercase tracking-widest">
        VASKO
    </h1>
    <p class="text-white text-2xl tracking-[0.3em] uppercase font-light">
        Rock Italien Énergique • Calvados
    </p>
    <a href="groupe/histoire" class="mt-8 bg-[#fffe03] text-black px-8 py-4 text-xl font-bold uppercase rounded-lg hover:scale-105 transition-all duration-300 shadow-[0_0_20px_#fffe03]">
        Plus d'info
    </a>
    </div>
</div>

@if (getHeureConcert() !== null) {
<div class="flex flex-col items-center justify-center gap-8 py-16 bg-black">
  <p class="font-bold uppercase text-4xl text-[#fffe03] text-center tracking-wide">
    Prochain concert dans
  </p>
  
  <div class="bg-zinc-900 border-4 border-[#fffe03] rounded-2xl px-12 py-8">
    <div class="text-[#fffe03] font-mono text-7xl font-bold  text-center" 
         style="text-shadow: 0 0 5px #fffe03, 0 0 20px #fffe03;">
      {{decompte()}}
    </div>
  </div>
   <p class="font-bold uppercase text-4xl text-[#fffe03] text-center tracking-wide">
     {{getLieuConcert()}}
   </p>

   <button (click)="ouvrirMaps()" class="mt-4 bg-[#fffe03] text-black px-8 py-3 text-lg font-bold uppercase rounded-lg hover:scale-105 transition-all duration-300 shadow-[0_0_20px_#fffe03]">
     Adresse de RDV
    </button>
</div>
}
@else{
    <div class="flex flex-col items-center justify-center gap-8 py-16 bg-black">
        <p class="font-bold uppercase text-4xl text-[#fffe03] text-center tracking-wide">
            {{decompte()}}
        </p>
    </div>
}