<div class="min-h-screen bg-black py-16">
  
  <!-- En-tête -->
  <div class="text-center mb-16">
    <h1 class="text-6xl font-bold text-[#fffe03] uppercase mb-4">Les Membres</h1>
    <p class="text-gray-400 text-xl">4 italiens Ténébreux</p>
  </div>
  
  <!-- Section 1 : Origines -->
  <section class="py-16 bg-zinc-900">
    <div class="max-w-6xl mx-auto px-4 grid md:grid-cols-2 gap-12 items-center">
      <img src="fabrice.jpg" class="rounded-lg border-4 border-[#fffe03]" alt="Origines">
      <div>
        <h2 class="text-4xl font-bold text-[#fffe03] mb-6">Fabrice: Chant</h2>
        <p class="text-gray-300 text-lg leading-relaxed mb-4">
          VASKO naît en 2018 d'une rencontre improbable entre quatre musiciens 
          passionnés de rock italien...
        </p>
      </div>
    </div>
  </section>
  
  <!-- Section 2 : Premiers pas -->
  <section class="py-16 bg-black">
    <div class="max-w-6xl mx-auto px-4 grid md:grid-cols-2 gap-12 items-center">
      <div class="md:order-2">
        <img src="fred.jpg" class="ml-auto rounded-lg border-4 border-[#fffe03]" alt="Premiers concerts">
      </div>
      <div class="md:order-1">
        <h2 class="text-4xl font-bold text-[#fffe03] mb-6">Fred: Basse</h2>
        <p class="text-gray-300 text-lg leading-relaxed mb-4">
          Le premier concert au Café des Images reste gravé dans nos mémoires...
        </p>
      </div>
    </div>
  </section>
  
  <!-- Section 3 : L'évolution -->
  <section class="py-16 bg-zinc-900">
    <div class="max-w-6xl mx-auto px-4 grid md:grid-cols-2 gap-12 items-center">
      <img src="christophe.jpg" class="rounded-lg border-4 border-[#fffe03]" alt="Évolution">
      <div>
        <h2 class="text-4xl font-bold text-[#fffe03] mb-6">Christophe: Guitare</h2>
        <p class="text-gray-300 text-lg leading-relaxed mb-4">
          De garage band à groupe reconnu en Normandie...
        </p>
      </div>
    </div>
  </section>

  <!-- Section 3 : L'évolution -->
   <section class="py-16 bg-black">
    <div class="max-w-6xl mx-auto px-4 grid md:grid-cols-2 gap-12 items-center">
      <div class="md:order-2">
        <img src="lelyan.jpg" class="ml-auto rounded-lg border-4 border-[#fffe03]" alt="Premiers concerts">
      </div>
      <div class="md:order-1">
        <h2 class="text-4xl font-bold text-[#fffe03] mb-6">Lélyan: Batterie</h2>
        <p class="text-gray-300 text-lg leading-relaxed mb-4">
          Le premier concert au Café des Images reste gravé dans nos mémoires...
        </p>
      </div>
    </div>
  </section>
  
  
</div>