<div class="min-h-screen bg-black py-16">
  
  <div class="text-center mb-10 md:mb-16 px-4">
    <h1 class="text-4xl md:text-6xl font-bold text-[#fffe03] uppercase mb-4">Les Membres</h1>
    <p class="text-gray-400 text-lg md:text-xl">4 italiens Ténébreux</p>
  </div>
  
  <!-- Section 1 : Fabrice -->
  <section class="py-10 md:py-16 bg-zinc-900">
    <div class="max-w-6xl mx-auto px-4 grid md:grid-cols-2 gap-8 md:gap-12 items-center">
      
      <img src="images/membres/fabrice.jpg"
          class="rounded-lg border-4 border-[#fffe03] shadow-lg w-full"
          alt="Fabrice - Chant">

      <div class="max-w-xl">
        <h2 class="text-2xl md:text-4xl font-bold text-[#fffe03] mb-6 md:mb-8">
          Fabrice : Chant
        </h2>

        <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
          Je m’appelle Fabrice et je suis le chanteur du groupe Vasko. J’ai commencé la musique avec un groupe de camarades de lycée. Mon tout premier projet s’appelait VIGGEN, un groupe de reprises inspiré par des références du metal comme Manowar, Kreator, Megadeth ou encore Iron Maiden.
        </p>

        <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
          Par la suite, j’ai créé avec d’autres amis le groupe Otherside, un projet de heavy metal aux influences marquées d’Iron Maiden, mais avec des textes chantés en français.
        </p>

        <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
          Après une pause de quelques années, je suis revenu à la musique avec mes frères Gaëtan et Fred en fondant ALCANTARA, un groupe de compositions originales influencé par le hard rock mélodique dans l'esprit de Bon Jovi, Scorpions, Firehouse et Warrant. 
          J'ai également fait partie du groupe AcoustikHard avec Christophe, un projet de reprises acoustiques à 2.
        </p>

        <p class="text-gray-300 text-sm leading-relaxed text-justify">
          En 2014, j’ai rejoint VASKO, marquant une nouvelle étape importante de mon parcours musical. Après une période de pause, le groupe a repris son activité fin 2023 avec les membres actuels. Une fois encore, la musique est devenue une véritable histoire de famille.
        </p>
      </div>
    </div>
  </section>

  
  <!-- Section 2 : Fred -->
  <section class="py-10 md:py-16 bg-black">
    <div class="max-w-6xl mx-auto px-4 grid md:grid-cols-2 gap-8 md:gap-12 items-center">
      <div class="md:order-2">
        <img src="images/membres/fred.jpg" class="ml-auto rounded-lg border-4 border-[#fffe03] w-full" alt="Premiers concerts">
      </div>
      <div class="max-w-xl">       
        <h2 class="text-2xl md:text-4xl font-bold text-[#fffe03] mb-6">Fred: Basse</h2>
          <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
            Baigné dans le hard rock depuis mes 15 ans, j'ai gratté la guitare jusqu'en 2005. Par la suite, j'ai rejoint le groupe ALCANTARA en tant que bassiste, de 2005 à 2011.
          </p>

          <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
            S'en est suivi un cover de Motörhead, KILLMISTER, puis un tribute à Bon Jovi avec BEND JOVI.
          </p>

          <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
            En 2014, je propose à mon entourage musical de monter un tribute à Vasco Rossi. Le groupe s'arrête en 2019, puis Pandorax prend le relais jusqu'en 2021.
          </p>

          <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
            Fin 2023, je décide de reformer VASKO avec d'anciens membres et de nouveaux musiciens.
          </p>
      </div>
    </div>
  </section>
  
  <!-- Section 3 : Christophe -->
  <section class="py-10 md:py-16 bg-zinc-900">
    <div class="max-w-6xl mx-auto px-4 grid md:grid-cols-2 gap-8 md:gap-12 items-center">
      <img src="images/membres/christophe.jpg" class="rounded-lg border-4 border-[#fffe03] w-full" alt="Évolution">
      <div class="max-w-xl">
        <h2 class="text-2xl md:text-4xl font-bold text-[#fffe03] mb-6">Christophe: Guitare</h2>
      
          <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
            Me concernant, j'ai commencé la musique par le piano, que j'ai pratiqué jusqu'à l'adolescence. Avec l'arrivée de l'époque new wave, le synthé s'est naturellement imposé. La guitare est venue plus tard, à partir de mes 18 ans, et est rapidement devenue mon instrument de prédilection.
          </p>
          
          <p class="text-gray-300 text-sm leading-relaxed text-justify">
            Depuis mes 16 ans, j’ai joué dans différents groupes, parmi lesquels Thunders, AcoustikHard, et plus récemment OldBack. Depuis 2014, je fais également partie de l’aventure Vasko.
          </p>
      </div>
    </div>
  </section>

  <!-- Section 4 : Lélyan -->
   <section class="py-10 md:py-16 bg-black">
    <div class="max-w-6xl mx-auto px-4 grid md:grid-cols-2 gap-8 md:gap-12 items-center">
      <div class="md:order-2">
        <img src="images/membres/lelyan.jpg" class="ml-auto rounded-lg border-4 border-[#fffe03] w-full" alt="Premiers concerts">
      </div>
      <div class="md:order-1">
        <h2 class="text-2xl md:text-4xl font-bold text-[#fffe03] mb-6">Lélyan: Batterie</h2>
        <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
          Je suis Lélyan le batteur de VASKO. J'ai commencé la batterie à l'âge de 7 ans. J'ai fait des cours de batterie pendant 8 ans avant de rejoindre mon premier groupe PANDORAX en 2017, un groupe de reprises de rock et de métal.
        </p>

        <p class="text-gray-300 text-sm leading-relaxed mb-4 text-justify">
          J'ai ensuite rejoint VASKO en 2024, où j'ai eu l'opportunité de jouer sur scène en famille. C'est une expérience incroyable de partager la musique avec mes proches et de faire partie de cette aventure musicale.        
        </p>
      </div>
    </div>
  </section>
  
  
</div>