@import 'tailwindcss';
@tailwind utilities;
@import "primeicons/primeicons.css";



body {
  background-color: black;
  color: white;
}


.navbar-links {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}