@import 'tailwindcss';
@tailwind utilities;

/* Ajout de styles globaux */
@layer base {
  body {
    @apply text-white bg-gray-900;
  }
}

/* Dans styles.css */
.navbar-links {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}
